.header-container {
  display: grid;
  grid-template-columns: 600px 600px;
  padding: 100px ;
  justify-content: center;
  align-items: center;
  gap: 50px;
  
  
}

.h1-header {
  color: white;
  font-weight: 700;
  font-size: 60px;
}

.p-header {
  color: gray;
  font-size: 20px;
  font-weight: 400;
  margin-top: 10px;
}

.button-header {
  color: white;
  margin-top: 15px;
  margin-left: 0;
  padding: 15px;
}

.image {
  width: 100%;
  height: 100%;
  
}